<template>
    <div>
        <div id="sq_header">오늘 뭐먹지??</div>

        <Nuxt />
        <div id="copyright">
            <p>
                경기도 안산시 상록구 xx동 1111호<br />
                010-0000-0000 /gksqlc405@gmail.com<br />
                Copyright(c) privsq
            </p>
        </div>
    </div>
</template>
<style>
#sq_header {
    padding: 25px 15px;
    font-weight: 799;
    font-size: 20px;
}
#copyright {
    padding: 15px;
    background-color: blue;
    color: #ffffff;
    font-size: 11px;
    line-height: 160%;
}
</style>
