<template>
    <div class="clear-both">
        <div class="content-left">
            <ul class="food-item-group clear-both">
                <!-- for 문과 v-bind:key 는 세트라고 보면된다 -->
                <FoodItem
                  v-for="(item, index) in foodList"
                  v-bind:key="'foodItem' + index"
                  v-bind:imageName="item.foodImg"
                  v-bind:imageAlt="item.foodImgAlt"
                  v-bind:title="item.foodName"
                  @click.native="choiceFood(index)"
                />
            </ul>
        </div>
        <div class="content-right">
            <div v-if="selectedIndex !=null">
                <div>음식명 : {{ foodList[selectedIndex].foodName}}</div>
                <div>칼로리 : {{foodList[selectedIndex].calorie}}</div>
                <div>설명 : {{foodList[selectedIndex].description}}</div>
                <div>효능 : {{foodList[selectedIndex].efficacy}}</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'IndexPage',
    data() {
      return {
        selectedIndex: null,
        foodList: [
          { foodName: '짜장면', foodImg: 'apple.jpg', foodImgAlt: '사과', calorie: 1000, description: '개꿀', efficacy: '돼지되요'},
          { foodName: '짜장면1', foodImg: 'apple.jpg', foodImgAlt: '사과' , calorie: 2000, description: '개꿀', efficacy: '돼지되요'},
          { foodName: '짜장면2', foodImg: 'apple.jpg', foodImgAlt: '사과' , calorie: 3000, description: '개꿀', efficacy: '돼지되요'},
          { foodName: '짜장면3', foodImg: 'apple.jpg', foodImgAlt: '사과' , calorie: 4000, description: '개꿀', efficacy: '돼지되요'},
          { foodName: '짜장면4', foodImg: 'apple.jpg', foodImgAlt: '사과' , calorie: 5000, description: '개꿀', efficacy: '돼지되요'},
          { foodName: '짜장면5', foodImg: 'apple.jpg', foodImgAlt: '사과' , calorie: 6000, description: '개꿀', efficacy: '돼지되요'},
          { foodName: '짜장면5', foodImg: 'apple.jpg', foodImgAlt: '사과' , calorie: 7000, description: '개꿀', efficacy: '돼지되요'},
          { foodName: '짜장면6', foodImg: 'apple.jpg', foodImgAlt: '사과' , calorie: 8000, description: '개꿀', efficacy: '돼지되요'},
        ]
      }
    },
    methods: {
      choiceFood(index) {    //타입이 없는 언어라 int 이런것이 안들어간다
        this.selectedIndex = index

      }
    }
}
</script>

<style>
div.content-left {
    float: left;
}
div.content-right {
    float: right;
}
ul.food-item-group {
    list-style: none;
}
.clear-both:after {
    content: '';
    display: block;
    clear: both;
}
ul.food-item-group li {
    float: left;
}
</style>
